.playlist-list {
    display: flex;
    flex-direction: row;
  }
  
  .playlist {
    width: 15em;
    border: 1px solid rgb(12, 182, 20);
    padding: 0.5em;
    margin: 1em;
  }
  
  img {
    width: 100%;
    height: 10em;
    object-fit: cover;
  }
  
  .playlist-pict {
    height: 10em;
  }
  
  .playlists{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }